@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
/* html {
    background:linear-gradient(0deg,rgba(63, 191, 191, 0.3),rgba(255,0,150,0.3)),url(../images/background.jpg);
    background-size:cover;
    font-family: 'Raleway', sans-serif;
}
body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%  
}
.background {
   width: 100%;
    position: absolute;
    z-index: -2;
}
.overlay {
    flex-grow: 1;
}


body > div
{
    transition:all 2s linear;
}
.rotate:hover
{
    -webkit-transform: rotateZ(-360deg);
    -ms-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
}
 */
  
  html {
    height: 100%;
    background:linear-gradient(0deg,rgba(63, 191, 191, 0.3),rgba(255,0,150,0.3)),url(../images/background.jpg);
    background-size:cover;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
  }
  body {
    min-height: 100%;
    margin: 0;
   
}

  .wrapper {
    min-height: 100vh;
    display: flex;  
    flex-flow: column;
  }
  
  .wrapper > * {
    padding: 10px;
    flex-shrink: 1;
  }
  
.main {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0; 
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
}
.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}
.circle {
    border-radius: 50%;
    color: rgb(255, 246, 255);
    text-align: center;
    background: #424256;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.largeCircle {
    width: 400px;
    height: 400px;
    font-size: 36px;
    margin-top: 10vh;
    margin-left: -10vh;
    background: #294955;
}
.smallCircle {
    width: 150px;
    height: 150px;
    font-size: 33px;
    margin-bottom: 48vh;
    margin-right: 5vh;
    margin-left: -2vh;
    background: #432948;
}
.mediumCircle {
    width: 250px;
    height: 250px;
    font-size: 40px;
    margin-bottom: 10vh;
}
.rotate{
    transition: all 0.5s linear;
    -moz-transition: all 0.5s linear; 
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear; 
    -ms-transition: all 0.5s linear; 
}
.rotate:hover
{
    -webkit-transform: rotateZ(-360deg);
    -ms-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
}
.swing{
    transition:all 0.3s ease;
  }
.swing:hover
{
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

  .underline{
      text-decoration: underline !important;
  }
.logo{
    height: 10vh;
    width: auto;
    position: absolute;
    left: 15px;
    top: 15px;
}
.icon{
    color: white;
    margin: 1em;
    font-size: 6em !important;
}
@media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .main    { order: 2; }
    .footer  { order: 3; }
}
@media all and (max-width: 800px) {
    .navigation {
      justify-content: space-around;
    }
}
  
@media all and (max-width: 500px) {
    .navigation {
      flex-direction: column;
    }
}
  